{% extends 'app_general/components/base.html' %} {% block site_title %}ALL MENU
| {% endblock %} {% block content %}

<div>
  <h2>ມີໜັງສື ໃຫ້ເລືອກຫຼາກຫຼາຍປະເພດ</h2>
  {% for book in books %}
  <div style="background-color: rgb(253, 231, 255);">
    <h3><a href="{% url 'book' book.id %}">{{ book.title }}</a></h3>
    <p>{{ book.price }} LAK</p>
    {% if book.is_hardcover %}
    <p>*** Hardcover Books</p>
    {% endif %}
  </div>
  {% empty %}
      <p>ບໍ່ມີຂໍມູນ</p>
  {% endfor %}
</div>

{% endblock %}
