<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>ALL BOOKS IN STORE | PHENOMENAL</title>
</head>
<body>
	<header style="background-color: lightpink;">
		<a href="">PHENOMENAL</a>
		<a href="">ALL MENU</a>
		<a href="">ABOUT</a>
	</header>
    <div>
    	<h1>PHENOMENAL</h1>
    	<p>PHENOMENAL BOOK COULD</p>
    </div>
	<footer style="background-color: lightpink;">
		<h5>ຕິດຕາມຄວາມເຄື່ອນໄຫວ ແລະ ໂປຣໂມຊັ່ນໄດ້ທີ່</h5>
		<p>
			<a href="">Facebook</a>
			<a href="">Instagram</a>
			<a href="">TikTok</a>
		</p>
		<p>Copyright 2018-2022 Phenomenal. All right reserved</p>
	</footer>
</body>
</html>